
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />


<div class="container" style="margin-top: 25px">
  <div class="row-title">
     <%= cl_image_tag("Logo_zvwyau", width: 220, height: 36) %>

     <h1 class="ml14" style="margin-top: 85px">
      <span class="text-wrapper">
      <span class="letters">Sales Rep turnover sucks.</span>
      <span class="line"></span>
      </span>
    </h1>

    <style>
      .ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}
    </style>


      <h2>Get 6 months cash advance on each hire <br> and stop wasting money</h2>
      <a href="https://form.typeform.com/to/wajxAdYD">
        <button> Join waitlist</button>
      </a>



  <div class="cover d-flex justify-content-center">
    <%= cl_image_tag("cover_iiinqm", width: 1262, height: 351) %>
  </div>
</div>

<section>
  <div class="container">
    <div class="row-part1">
      <div class="col-sm-12 col-lg-7">
        <h1>Stop losing money <br> during ramp up </h1>
          <p>Average ramp up time is about 4 months. It costs your company  a lot of money. We made it free for you.</p>
          <p><a href="https://form.typeform.com/to/wajxAdYD">Join waitlist    <i class="fas fa-arrow-right"></i> </a></p>
      </div>
      <div class="col-sm-12 col-lg-5">
        <%= cl_image_tag("card_csgl2b", width: 450, height: 510, class: "responsive3", class: "animate__animated animate__bounce") %>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row-part2 d-flex justify-content-center">
    <div class="col-sm-0 col-lg-5">
      <%= cl_image_tag("card2_xgwjyf", width: 450, height: 387, class: "responsive") %>
    </div>
    <div class="col-sm-12 col-lg-7" style="margin-left: 30px">
      <h1>Finally afford competitive salaries </h1>
        <p>Top performers are expensive. <br> We enable you to build <br> the best sales team and to keep it.</p>
    </div>
  </div>
</div>

<section>
  <div class="row-part3">
    <h1>Avoid the cost of mistakes</h1>
      <p>Hiring mistakes can cost you up to $150K per sales hire.</p>
        <%= cl_image_tag("card4_gpiwrr", width: 800, height: 234, class: "responsive2") %>
      <p><a href="https://form.typeform.com/to/wajxAdYD">Join waitlist     <i class="fas fa-arrow-right"></i> </a></p>
  </div>
</section>

<div class="container" style="margin-top: 100px">
  <div class="row-part1 d-flex justify-content-center">
    <div class="col-12 col-lg-7">
      <h1>Repay <br> as you earn</h1>
        <p>Repay your balance with <br> a small share from your <br> new sales.</p>
        <p><a href="https://form.typeform.com/to/wajxAdYD"> Join waitlist  <i class="fas fa-arrow-right"></i> </a></p>
    </div>
    <div class="card3 col-12 col-lg-5">
      <%= cl_image_tag("card3_nv2x09", width: 450, height: 394) %>
    </div>
  </div>
</div>

<section class="end">
    <p>© 2021 Moonsale</p>
    <p>Made with 🧡 from Paris and NYC </p>
    <p>contact@moonsale.com</p>
</section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>// Wrap every letter in a span
var textWrapper = document.querySelector('.ml14 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: false})
  .add({
    targets: '.ml14 .line',
    scaleX: [0,1],
    opacity: [0.5,1],
    easing: "easeInOutExpo",
    duration: 900
  }).add({
    targets: '.ml14 .letter',
    opacity: [0,1],
    translateX: [40,0],
    translateZ: 0,
    scaleX: [0.3, 1],
    easing: "easeOutExpo",
    duration: 800,
    offset: '-=600',
    delay: (el, i) => 150 + 25 * i
  });</script>



